*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif,serif;
    margin: 0;
    padding: 0;
    background-color: rgb(247 247 246);
    flex-wrap: wrap;
}

ul{
    list-style: none;
}
.container{
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
}
.col-5{
    width: 41.6%;
    flex: 0 0 auto;
    max-width: 41.6%;
}
.col-6{
    width: 50%;
    flex: 0 0 auto;
    max-width: 50%;
}
.col-7{
    width: 58.3%;
    flex: 0 0 auto;
    max-width: 58.3%;
}
header{
    position: absolute;
    top: 5px;
    width: 100%;
    z-index: 100;
    flex-wrap: wrap;
}

.header-cnt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    height: 70px;
    
}
nav a{
    text-decoration: none;
    color: #ffffff;
    padding: 5px 10px;
    transition: 0.3s;

}
nav ul{
    display: flex;
    gap: 70px;
}
.header .cta-btn{
    color: #ffffff;
    padding: 6px 15px;
    border-style: solid;
    border-color: white;
    border-radius: 100px;
    text-decoration: none;
}
nav ul li:hover{
    text-decoration: underline solid rgb(230, 228, 228);
    text-underline-offset: 10px;
}
.logo{
    max-width: 157;
    max-height: 35;
}
.bg-pic{
    width: 100vh;
    height: 100vh;
}

#hero {
    background-image: linear-gradient(45deg, #08081b0f, #1010117a, #2c2c2d8c), url(https://img.freepik.com/premium-photo/modern-treatment-professional-dental-clinic_168991-3385.jpg?uid=R188271284&ga=GA1.1.943463155.1747125776&semt=ais_hybrid&w=740);
    width: 100%;
    height: 100vh;
    background-size: cover;
    color: #ffffff;
}

.hero-content{
    height: 100vh;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 20px;
}
.c1{
    display: flex;
    align-items: flex-start;
}
.vid-btn{
    display: flex;
    align-items: center;
    padding: 6px 12px;
    border-style: solid;
    border-color: white;
    border-radius: 100px;
    gap: 15px;

    
}
.c3{
    display: flex;
    justify-content: space-between;
    width: 100%;

}
.c1 p{
    max-width: 241px;
}
.c3 p{
    max-width: 596px;
    margin: 0;
}
h1{
    max-width: 540px;
    font-weight: bold;
}
.vid-btn img{
    width: 30px;
    height: 30px;
}
.images {
    display: flex;
    justify-content: space-evenly;
    padding: 25px 0;
    background-color: rgb(247 247 246);
}
.images img{
    width: auto;
    height: 45px;
}
.col-md-6 img{
    padding: 10px;
    background-color: rgb(226, 229, 250);
    border-radius: 10px;
    
}
.intro-img img{
    max-width: 420px;
    height: auto;
}
.col-md-7 span{
    padding: 4px 8px;
    background-color: rgb(226, 229, 250);
    border-radius: 25px;
    font-weight: 500;
    margin-bottom: 1rem;
}
.container-bg{
    padding: 50px 55px;
    background-color: #ffffff;
    border-radius: 20px;
}
.srv-btn{
    background-color: rgb(65 95 255);
    padding: 9px 18px;
    color: #ffffff;
    border-radius: 10px;
    width: fit-content;
}
h2 {
    font-weight: 500;
    font-size: 38px;
    padding-top: 15px;
    position: relative;
}
.col-md-7 p{
    font-size: 14px;
}
.col-md-7 .row{
    flex-wrap: nowrap;
    gap: 25px;

}
.two-section{
    display: flex;
    padding-top: 15px;
    padding-bottom: 20px;

}
h5{
    padding: 6px 0;
}
.news-tips{
    text-align: center;
    padding-top: 60px;
}
.news-tips span{
    padding: 7px 15px;
    background-color: rgb(226, 229, 250);
    color: rgb(65 95 255);
    border-radius: 20px;

}
.three-btns{
    display: flex;
    gap: 10px;
    padding: 1rem 0;
}
.three-btns p{
    padding: 5px 10px;
    border: 0.5px solid;
    border-radius: 25px;
    margin: 0;

}
.news-tips .image{
    position: relative;
    height: 350px;
    
}
.news-tips .image img{
    width: 100%;
    height: 100%;
}
.news-tips .col-4 span{
    position: absolute;
    right: 12px;
    bottom: 12px;
    padding: 7px 15px;
    background-color: #ffffff;
    border-radius: 20px;
    
}
.news-tips .cntnt{
    text-align: start;
}
.news-tips h3{
    padding-top: 15px;
}
.content .learn-more{
    padding: 7px 15px;
    color: rgb(65 95 255);
    border: 2px solid rgb(65 95 255);
    border-radius: 8px;
    background-color: #ffffff;
}
.content .learn-more:hover{
    cursor: pointer;
    color: #ffffff;
    background-color: rgb(65 95 255);
}
.community{
    text-align: center;
}
.community .row{
    align-items: center;
    text-align: start;
    padding-top: 30px;
}
.community .image img{
    border-radius: 15px;
}
.community .content p{
    padding-bottom: 60px;
    font-size: smaller;
}
.community span{
    padding: 7px 15px;
    background-color: rgb(226, 229, 250);
    color: rgb(65 95 255);
    border-radius: 20px;
}
.community .content h3{
    font-weight: 700;
}
.feedback{
    position: relative;
    margin-top: 45px;
    padding: 50px 30px;
    background-color: #ffffff;
    border-radius: 25px;
    padding-bottom: 75px;
}
.feedback .col-md-3 img{
    overflow: clip;
    max-width: -webkit-fill-available;
} 
.scroll{
    position: relative;
    display: flex;
    gap: 12px;
    align-items: center;
}
      
.line-1{
    position: absolute;
    opacity: 1;
    width: 20%;
    color: #6D7ACD;
    border-top: solid 5px;
    border-radius: 25px;
}
.line-2{
    opacity: 1;
    border-top: solid 4px;
    border-radius: 25px;
    width: 90%;
    color: rgb(216 220 242);
}
.testimonial span{
    padding: 7px 15px;
    background-color: #E8F1FE;
    color: #5E94D1;
    border-radius: 10px;
    font-weight: 600;
    font-size: 20px;
}
.feedback .row{
    align-items: center;
}
.testimonial h5{
    color: #2b75ca;
    font-size: 26px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 0;
}
.testimonial .msg{
    padding-bottom: 0px;
    padding-top: 20px;
    font-size: small;
}
.quote p{
    max-width: 70%;
    opacity: .75;
}
.quote-btn{
    min-width: 180px;
    background-color: rgb(232 241 254);
    color: #2b75ca;
    padding: 15px 15px;
    border-radius: 10px;
}
.email input{
    background-color: #ffffff3f;
    border-radius: 10px;
    padding: 6px 0;
    border: none;
    padding-left: 15px;
}
.email label{
    background-color: #2b75ca;
    padding: 7px 15px;
    color: #ffffff;
    border-radius: 10px;
    transition: ease-in-out 0.3ms;

}
.email label:hover{
    cursor: pointer;
    background-color: #ffffff;
    color: #2b75ca;
    font-weight: 600;    
}
footer{
    background-color: rgb(48 48 48);
    color: #ffffff;
    padding: 10px 50px;
    padding-top: 120px;
}
#footer{
    position: relative;
}
.quote{
    position: absolute;
    padding: 20px 35px;
    color: #ffffff;
    background: url(../img/vector.png) , #2b75ca;
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin: 0 auto;
    top: -50px;
    right: 0;
    left: 0;
    width: 90%;
    max-width: 1150px;
}
.email p{
    opacity: .8;
    font-size: medium;
    max-width: 405px;
}
.email h3{
    max-width: 560px;
    font-size: 40px;
    position: relative;
}
.about{
    display: flex;
    list-style: none;
    max-width: max-content;
    gap: 50px;
}
.email{
    max-width: fit-content;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about li{
    padding-bottom: 5px;
}


.email input::placeholder{
    color: #ffffff;
}
.footer-logo{
    height: 37px;
}
.footer-bottom p{
    margin: 0;
}
.line-dsg img{
    position: absolute;
    top: -155px;
    left: 0;
    margin: 0 auto; 
    opacity: .5;
}
.play-btn {
    background-color: transparent;
    position: absolute;
    margin: auto;
    left: 0;
    right: 27px;
    width: 23%;
    top: 0;
    bottom: 0;
    transition: 0.3ms ease-in-out;
    padding: 25px 28px;
    border: 3px solid #ffffff;
    border-radius: 35px;
}
.intro-img{
    position: relative;
}
.intro-img .play-btn:hover{
    cursor: pointer;

}
.container{
    padding: 0;
}
#health-services{
    position: relative;
    overflow: clip;
}
#health-services .line-dsg img{
    position: absolute;
    top: -65px;
    right: -1043px;
    margin: 0 auto;
    width: 280px;
    transform: rotateZ(68deg);
    filter: invert(1);
    opacity: .5;
}




                 